.{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#time1{
    border: 2px solid black;
    border-image-repeat: round;
    font-family: Arial, Helvetica, sans-serif;
    width: 30vh;
    padding: 2px 2px;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    text-align: center;
    transform: translate(800px,350px);
    

}

@media screen and (max-width: 480px){
    #time1{
        transform: translate(80px,250px);
    }
}
